const {{method}} = (
    {{#parameters}}
    {{.}},
    {{/parameters}}
    onSuccess
) => {
    request(
        'POST',
        '{{ url}}',
        null,
        {
            {{#data}}
            {{.}}
            {{/data}}
        },
    (response) => {
        handle(response, [
            {
                code: 'success',
                callback: (payload) => {
                    onSuccess(payload);
                }
            }{{#exceptions}},
            {
                code: '{{code}}',
                callback: () => {
                    on{{name}}();
                }
            }{{/exceptions}}
        ]);
    }
    );
};

